@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #0cc0df;
  font-family: "Philosopher", sans-serif;
  /* border: 5px solid black; */
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 5px solid green; */
}

.homeGridContainer {
  display: grid;
  font-family: "Philosopher", sans-serif;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  flex-grow: 1;
  overflow: auto;
  /* padding: 20px; */
  /* border: 5px solid black; */
}

.homeColumn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 300px;
  font-size: 25px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: top;
  color: white;
}

.homeBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* border: 5px solid blue; */
}

.mainContent {
  flex: 1;
  background-image: url("./assets/Logo.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  height: 75vh;
  /* border: 5px solid yellow; */
}

.home-header {
  font-family: "Philosopher", sans-serif;
  text-align: center;
  color: white;
  font-size: 75px;
  background-color: #0cc0df;
  line-height: 0.5;
  /* border: 5px solid purple; */
}

.nav-link {
  background-color: #0cc0df;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  /* border-radius: 50%; */
  padding: 30px;
  /* border: 5px solid red; */
}

.loginLink {
  background-image: url("./assets/password.png");
  background-size: cover;
  display: block;
  width: 25px;
  height: 60px;
  text-indent: -9999px;
  /* border: 5px solid orange; */
}

.loginLink.active {
  width: 100px;
  height: 100px;
  /* border: 5px solid brown; */
}

.signupLink {
  background-image: url("./assets/follow.png");
  background-size: cover;
  display: block;
  width: 25px;
  height: 60px;
  text-indent: -9999px;
  /* border: 5px solid white; */
}

.signupLink.active {
  width: 100px;
  height: 100px;
  /* border: 5px solid lightgreen; */
}

.homeLink {
  background-image: url("./assets/home (2).png");
  background-size: cover;
  display: block;
  width: 25px;
  height: 60px;
  text-indent: -9999px;
  /* border: 5px solid lightgray; */
}

.homeLink.active {
  width: 100px;
  height: 100px;
  /* border: 5px solid darkorchid; */
}

.tripLink {
  background-image: url("./assets/planeticket.png");
  background-size: cover;
  display: block;
  width: px;
  height: 60px;
  text-indent: -9999px;
  /* border: 5px solid lightgray; */
}

.tripLink.active {
  width: 100px;
  height: 100px;
  /* border: 5px solid darkorchid; */
}

/* LOGIN PAGE */

.loginMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: x-large;
}

/* Style for input fields */
.loginForm input[id="username"],
.loginForm input[type="password"] {
  width: 80%;
  height: 20px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 1);
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.loginPage label,
.loginPage input {
  margin-bottom: 10px;
}

.button {
  font-family: "Philosopher", sans-serif;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(230, 78, 230),
    rgb(117, 72, 189)
  );
  background-color: #007bff;
  margin: 15px;
}

.logoContainer {
  background-image: url("./assets/Logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 150px;
}

.loginTitle {
  color: white;
  font-size: 50px;
  margin: 25px;
}

/* SIGNUP PAGE */

.signupMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  font-size: x-large;
}

/* Style for input fields */
.loginForm input[id="username"],
.loginForm input[id="email"],
.loginForm input[type="password"] {
  width: 300px;
  height: 20px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 1);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.input-container label {
  margin-bottom: 5px;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.loginPage label,
.loginPage input {
  margin-bottom: 10px;
}

.logoContainer {
  background-image: url("./assets/Logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 150px;
}

.loginTitle {
  color: white;
  font-size: 50px;
  margin: 25px;
}

/* Table formatting */

table {
  width: 25%;
  padding: 100px;
  font-size: 20px;

}

table th {
  text-align: left;
}

.tripForm input[name="occasion"],
.tripForm input[name="destination"],
.tripForm input[name="start_date"],
.tripForm input[name="end_date"],
.tripForm input[name="startDate"],
.tripForm input[name="endDate"]
{
  width: 300px;
  height: 20px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 1);

}

.tripForm select[id="destination"] {
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 1);
}
