.nav-link {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  padding: 5px;
  /* margin: 0 6px 6px; */
  background: #0cc0df(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: min(25px);
  color: #0cc0df;
}

.active {
  /* color: rgb(225, 0, 255); */
  font-size: min(40px);
}
